---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
	firstName: "Yegor",
	country: "Russia",
	occupation: "Full Stack Developer",
	hobbies: ["trading", "anime", "transerfing"],
};
const skills = [
	"HTML",
	"CSS",
	"JavaScript",
	"TypeScript",
	"React",
	"HTMX",
	"Qwik",
];

const finished = false;
const happy = true;

const skillColor = "navy";
const fontWeight = "bold";
const textTransform = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textTransform }}>
	.skill {
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textTransform);
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>
			I live in {identity.country} and I work as a {identity.occupation}.
		</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Two of my hobbies are:
					{identity.hobbies[0]} and {identity.hobbies[1]}.
				</li>
			)
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>

	{happy && <p>I am happy to be learning Astro!</p>}
	{
		finished ? (
			<p>I finished this tutorial!</p>
		) : (
			<p>I'm not finished this tutorial yet!</p>
		)
	}
</BaseLayout>
